.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: white;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: 2.5em;
  color: pink;
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
    flex-direction: row;
  }

  .footer-title {
    font-size: 8em;
  }
}
